.requests-table {
  width: 100%;
}

.requests-table nav {
  display: block;
  border-bottom: solid 1px #ddd;
}
.requests-table nav ul {
  font-size: 1.2em;
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.requests-table nav li {
  list-style: none;
  display: block;
}

.requests-table nav a {
  padding: 1em 2em;
  color: black;
  display: block;
  border-bottom: solid 2px transparent;
}

.requests-table nav a.active {
  border-bottom: solid 2px #000;
}

.requests-table h4 {
  font-size: 1.3em;
  background: #7da117;
  padding: 1em;
  color: white;
}

.requests-table table {
  font-size: 1.2em;
  width: 100%;
}

.requests-table th {
  font-weight: bold;
  text-align: left;
}

.requests-table th,
.requests-table td {
  padding: 0.5em;
}

.requests-table th:last-of-type,
.requests-table td:last-of-type {
  text-align: right;
}
