.loadingscreen {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  animation: fade 2s linear;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
