html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

a,
a:link,
.btn {
  text-decoration: none;
  transition: all 0.15s ease;
}

a:active,
.btn:active {
  transform: scale(1.05);
}
