html,
body {
  margin: 0;
  padding: 0;
  background: #f7f7f7;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

a,
a:link,
.btn {
  text-decoration: none;
  transition: transform 0.15s linear;
}

a:active,
.btn:active {
  outline: none;
  transform: scale(0.95);
}
