.nav {
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0;
  display: inline-block;
}

.nav a {
  padding: 1.2em;
  display: block;
  color: rgb(125, 161, 23);
}

.nav a.active {
  color: white;
  background: rgb(125, 161, 23);
}
